.bem-resultpane {
  position: fixed;
  box-sizing: border-box;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  font: normal 16px/1.4 monospace, arial, verdana, sans-serif;
  border-top: 1px solid $color-gray-50;
  background: $color-white;
  color: $color-gray-80;
  z-index: 10000;
  text-align: left;

  &__header {
    margin: 0;
    padding: 0 8px;
    height: 32px;
    background-color: $color-gray-10;
    border-bottom: 1px solid $color-gray-50;
    font-family: helvetica, arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 31px;

    strong {
      color: $color-red-50;
    }
  }

  &__close {
    float: right;
    border: 0;
    background: 0;
    font-size: 0;
    line-height: 1;
    color: $color-gray-70;

    &:after {
      content: '\00d7';
      font-size: 30px;
    }

    &:hover {

      &:after {
        color: $color-black;
      }
    }
  }

  &__list {
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    bottom: 0; /* todo: move above toolbar */
    margin: 0;
    padding: 0;
    background: $color-white;
    overflow-y: auto;
  }

  &__item {
    position: relative;
    border-bottom: 1px solid $color-gray-70;
    margin: 0;
    padding: 4px 8px 4px 28px;
    font-size: 16px;
    line-height: 20px;

    &:before {
      position: absolute;
      content: '\2716';
      left: 4px;
      top: 0;
      line-height: 28px;
      color: $color-red-50;
    }

    code {
      background: $color-yellow-50;
      outline: 3px solid $color-yellow-50;
    }

    &--success {

      &:before {
        content: '';
        top: 4px;
        left: 8px;
        color: $color-green-50;
        width: 6px;
        height: 12px;
        border-right: 4px solid $color-green-50;
        border-bottom: 4px solid $color-green-50;
        transform: rotate(45deg);
      }
    }
  }
}

.bem-error-item {
  outline: 2px solid $color-red-50;
}

// create padding at top of body
.is-bemvalidation {
  padding-bottom: 50%;
}
