$color-white: #fff;
$color-black: #000;

$color-red-50: #f00;

$color-yellow-50: #ff0;

$color-blue-40: #4982fa;

$color-green-50: #060;

$color-gray-10: #eee;
$color-gray-50: #999;
$color-gray-70: #666;
$color-gray-75: #494949;
$color-gray-80: #343436;
$color-gray-95: #1c1e1f;
