.grid-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  .row {
  	height: 100%;
  }

  .grid-overlay__content {
  	height: 100%;
  	background: $color-blue-40;
  	opacity: 0.5;
  }
}
